html {
	font-size: 16px;
}

h1{
    color: sandybrown;
    }
h2{
    color:rebeccapurple;
}


.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}
.icon {
	transition: all .5s;
}
.icon:hover {
	padding-right: 1re m;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}